@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  background-color: rgb(22, 2, 2);
  height: auto;

  font-family: "Open Sans", sans-serif;
}

.container {
  padding-top: 0rem;
}

ul {
  list-style: none;
}

a {
  text-decoration-line: none;
  color: rgb(223, 73, 73);
}

a:hover {
  padding: 0.3rem;
}

a:hover {
  text-decoration-line: underline;
}

h2 {
  padding: 0.5rem;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}
